					<div class="cabinet__main-item cabinet__create">
						<div class="cabinet__create-in">
							<div class="cabinet__create-left">
								<div class="cabinet__create-ttl">
									Закажите размещение бизнес-страницы компании прямо сейчас!
								</div>
							</div>
							<div class="cabinet__create-right">
								<div class="cabinet__create-text">
									Наши специалисты проконсультируют и помогут подобрать удобный вариант размещения страницы компании и продуктов 
								</div>
								<div class="cabinet__create-order">
									<a class="ui-btn ui-btn--t1 ui-btn--light cabinet__create-btn" href="javascript:void(0);">
										<span class="ui-btn__round"></span>
										<span class="ui-btn__text">
											Заказать
										</span>
									</a>
								</div>
							</div>
						</div>
						<div class="cabinet__create-img">
							<picture>
								<source srcset="@@webRoot/images/cabinet-create.webp" type="image/webp">
								<source srcset="@@webRoot/images/cabinet-create.png" type="image/png">
								<img src="@@webRoot/images/cabinet-create.png" alt="" />
							</picture>
						</div>
					</div>