					<div class="cabinet__side">
						<nav class="cabinet__menu">
							<ul class="cabinet__menu-list">
								<li class="cabinet__menu-item">
									<a class="cabinet__menu-link current">
										Мой профиль
									</a>
								</li>
								<li class="cabinet__menu-item">
									<a class="cabinet__menu-link">
										Уведомления
									</a>
								</li>
								<li class="cabinet__menu-item">
									<a class="cabinet__menu-link">
										Моя компания
									</a>
								</li>
								<li class="cabinet__menu-item">
									<a class="cabinet__menu-link">
										Мои предложения
									</a>
								</li>
								<li class="cabinet__menu-item">
									<a class="cabinet__menu-link">
										Техподдержка
									</a>
								</li>
							</ul>
						</nav>
					</div>