		<footer class="footer">
		@@if (!context.type) {
			<div class="footer__main">
				<div class="container">
					<div class="footer__top">
						<div class="footer__top-col">
							<a class="footer__logo">
								<svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#logo"></use></svg>
							</a>
						</div>
						<div class="footer__top-col">
							<a class="ui-btn ui-btn--t1 ui-btn--light footer__create" href="javascript:void(0);">
								<span class="ui-btn__round"></span>
								<span class="ui-btn__text">
									Создать бизнес-страницу
								</span>
							</a>
						</div>
					</div>
					<div class="footer__mid">
						<div class="footer__mid-col">
							<div class="footer__contacts">
								<div class="footer__contacts-item">
									<a class="footer__contacts-link" href="" target="_blank">
										<span class="footer__contacts-link-l">
											<span class="footer__contacts-link-i">
												<svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-footer-yt"></use></svg>
											</span>
											<span class="footer__contacts-link-t">
												YouTube
											</span>
											<span class="footer__contacts-link-i footer__contacts-link-i--a">
												<svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-btn-arrow"></use></svg>
											</span>
										</span>
										<span class="footer__contacts-link-r">
											@Helptobusiness
										</span>
									</a>
								</div>
								<div class="footer__contacts-item">
									<a class="footer__contacts-link" href="mailto:mail@helptobusiness.ru" target="_blank">
										<span class="footer__contacts-link-l">
											<span class="footer__contacts-link-i">
												<svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-footer-em"></use></svg>
											</span>
											<span class="footer__contacts-link-t">
												E-mail
											</span>
											<span class="footer__contacts-link-i footer__contacts-link-i--a">
												<svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-btn-arrow"></use></svg>
											</span>
										</span>
										<span class="footer__contacts-link-r">
											mail@helptobusiness.ru
										</span>
									</a>
								</div>
								<div class="footer__contacts-item">
									<a class="footer__contacts-link" href="" target="_blank">
										<span class="footer__contacts-link-l">
											<span class="footer__contacts-link-i">
												<svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-footer-tg"></use></svg>
											</span>
											<span class="footer__contacts-link-t">
												Telegram
											</span>
											<span class="footer__contacts-link-i footer__contacts-link-i--a">
												<svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-btn-arrow"></use></svg>
											</span>
										</span>
										<span class="footer__contacts-link-r">
											helptobusiness_H2B
										</span>
									</a>
								</div>
							</div>
						</div>
						<div class="footer__mid-col">
							<ul class="footer__menu">
								<li class="footer__menu-item">
									<a class="footer__menu-link" href="javascript:void(0);">
										Каталог компаний
									</a>
								</li>
								<li class="footer__menu-item">
									<a class="footer__menu-link" href="javascript:void(0);">
										Каталог предложений
									</a>
								</li>
								<li class="footer__menu-item">
									<a class="footer__menu-link" href="javascript:void(0);">
										Разместить пост или статью
									</a>
								</li>
								<li class="footer__menu-item">
									<a class="footer__menu-link" href="javascript:void(0);">
										Блог
									</a>
								</li>
								<li class="footer__menu-item">
									<a class="footer__menu-link" href="javascript:void(0);">
										Заказать онлайн-трансляцию
									</a>
								</li>
								<li class="footer__menu-item">
									<a class="footer__menu-link" href="javascript:void(0);">
										О платформе
									</a>
								</li>
								<li class="footer__menu-item">
									<a class="footer__menu-link" href="javascript:void(0);">
										Заказть VR-мероприятие
									</a>
								</li>
								<li class="footer__menu-item">
									<a class="footer__menu-link" href="javascript:void(0);">
										Заказть видеоинтервью
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		}
			<div class="footer__sub">
				<div class="container">
					<div class="footer__bot">
						<div class="footer__bot-col">
							© 2022-2023 HelpToBusiness
						</div>
						<div class="footer__bot-col">
							<div class="footer__links">
								<a class="footer__links-item" href="javascript:void(0);">
									Политика конфиденциальности
								</a>
								<a class="footer__links-item" href="javascript:void(0);">
									Пользовательское соглашение
								</a>
							</div>
						</div>
						<div class="footer__bot-col footer__made">
							Разработано <a href="javascript:void(0);" target="_blank">IDEA branding agency</a>
						</div>
					</div>
				</div>
			</div>
		</footer>