	<div class="popups-overlay"></div>
	<div class="popup popup--thx" id="thx">
		<div class="popup__content popup__close-container thx">
			<div class="popup__inner thx__inner">
				<div class="popup__head">
					<div class="popup__head-title">
						Благодарим за&nbsp;обращение!
					</div>
					<div class="popup__head-subtitle thx__subtitle">
						Наши специалисты свяжутся с&nbsp;вами в&nbsp;течение одного рабочего дня
					</div>
				</div>
				<div class="thx__btn">
					<button class="ui-btn ui-btn--t2 ui-btn--t2-dark" type="button" data-popup-close>
						<span class="ui-btn__text">
							Закрыть
						</span>
						<span class="ui-btn__icon ui-btn__icon--arr">
							<svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-btn-arrow"></use></svg>
						</span>
					</button>
				</div>
			</div>
		</div>
	</div>