	<div class="popups-overlay"></div>
	<div class="popup popup--thx" id="change-password">
		<div class="popup__content popup__close-container cabinet-popup">
			<div class="popup__inner cabinet-popup__inner">
				<div class="popup__head">
					<div class="popup__head-title">
						Изменить пароль
					</div>
				</div>
				<form class="cabinet-popup__form">
					<div class="cabinet-popup__form-item">
						<label class="ui-input ui-input--light">
							<input type="password" placeholder="Текущий пароль" />
							<span class="ui-input__pass"></span>
						</label>
					</div>
					<div class="cabinet-popup__form-item">
						<label class="ui-input ui-input--light">
							<input type="password" placeholder="Новый пароль" />
							<span class="ui-input__pass"></span>
						</label>
					</div>
					<div class="cabinet-popup__form-item cabinet-popup__form-btn">
						<button class="ui-btn ui-btn--t2 ui-btn--t2-dark" type="submit">
							<span class="ui-btn__text">
								Сохранить
							</span>
							<span class="ui-btn__icon ui-btn__icon--arr">
								<svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-btn-arrow"></use></svg>
							</span>
						</button>
					</div>
				</form>
			</div>
		</div>
	</div>
	<div class="popup popup--thx" id="password-changed">
		<div class="popup__content popup__close-container cabinet-popup">
			<div class="popup__inner cabinet-popup__inner">
				<div class="cabinet-popup__changed">
					<img src="@@webRoot/images/icon-changed.png" alt="" />
				</div>
				<div class="popup__head">
					<div class="popup__head-title">
						Пароль изменен
					</div>
				</div>
				<div class="cabinet-popup__btns">
					<button class="ui-btn ui-btn--t2 ui-btn--t2-dark" type="button"  data-popup-close>
						<span class="ui-btn__text">
							Закрыть
						</span>
						<span class="ui-btn__icon ui-btn__icon--arr">
							<svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-btn-arrow"></use></svg>
						</span>
					</button>
				</div>
			</div>
		</div>
	</div>
	<div class="popup popup--thx" id="remove-profile">
		<div class="popup__content popup__close-container cabinet-popup">
			<div class="popup__inner cabinet-popup__inner">
				<div class="popup__head">
					<div class="popup__head-title">
						Пожалуйста, укажите причину удаления профиля
					</div>
				</div>
				<form class="cabinet-popup__form">
					<div class="cabinet-popup__form-item">
						<label class="ui-input ui-input--light">
							<input type="text" placeholder="Напишите, почему " />
						</label>
					</div>
					<div class="cabinet-popup__form-item cabinet-popup__form-btn">
						<div class="cabinet-popup__btns">
							<button class="ui-btn ui-btn--t2 ui-btn--t2-dark" type="submit">
								<span class="ui-btn__text">
									Сохранить
								</span>
							</button>
							<button class="ui-btn ui-btn--t2 ui-btn--t2-light2" type="button" data-popup-close>
								<span class="ui-btn__text">
									Закрыть
								</span>
							</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
	<div class="popup popup--thx" id="remove-confirm">
		<div class="popup__content popup__close-container cabinet-popup">
			<div class="popup__inner cabinet-popup__inner">
				<div class="popup__head">
					<div class="popup__head-title">
						Пожалуйста, подтвердите удаление Вашего профиль
					</div>
				</div>
				<div class="cabinet-popup__btns">
					<button class="ui-btn ui-btn--t2 ui-btn--t2-light2" type="button">
						<span class="ui-btn__text">
							Подтверждаю
						</span>
					</button>
					<button class="ui-btn ui-btn--t2 ui-btn--t2-dark" type="submit" data-popup-close>
						<span class="ui-btn__text">
							Отмена
						</span>
					</button>
				</div>
			</div>
		</div>
	</div>