		<section class="section request">
			<div class="container">
				<div class="request__block">
					<div class="request__left">
						<header class="head head--in-cont request__head">
							<h2 class="head__title">
								Закажите размещение бизнес-страницы компании прямо сейчас
							</h2>
							<div class="head__subtitle">
								Наши специалисты проконсультируют и&nbsp;помогут подобрать удобный вариант размещения страницы компании и&nbsp;продуктов
							</div>
						</header>
					</div>
					<div class="request__right">
						<form class="request__form">
							<div class="request__form-field">
								<div class="ui-select">
									<select data-placeholder="Вид услуги">
										<option></option>
										<option>
											Создать бизнес-страницу
										</option>
										<option>
											Разместить статью или пост
										</option>
										<option>
											Заказать проведение VR-мероприятия
										</option>
										<option>
											Заказать видеоинтервью
										</option>
										<option>
											Заказать онлайн-трансляцию
										</option>
									</select>
								</div>
							</div>
							<div class="request__form-field">
								<label class="ui-input ui-input--light">
									<input type="text" placeholder="Имя" />
								</label>
							</div>
							<div class="request__form-field">
								<label class="ui-input ui-input--light">
									<input type="text" placeholder="Компания" />
								</label>
							</div>
							<div class="request__form-field">
								<label class="ui-input ui-input--light">
									<input type="email" placeholder="E-mail" />
								</label>
							</div>
							<div class="request__form-field request__form-field--a">
								<div class="request__form-agree">
									Нажимая на&nbsp;кнопку вы даете согласие на&nbsp;обработку персональных данных в&nbsp;соответствии с&nbsp;политикой конфиденциальности.
								</div>
							</div>
							<div class="request__form-field request__form-field--b">
								<button class="ui-btn ui-btn--t2 ui-btn--t2-dark" type="submit">
									<span class="ui-btn__text">
										Отправить
									</span>
									<span class="ui-btn__icon ui-btn__icon--arr">
										<svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-btn-arrow"></use></svg>
									</span>
								</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</section>